/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

} */

:root {
  --supported: #2A8436;
  --no-support: #c44230;
  --no-support-alt: #b43b2b;
  --no-support-pattern: repeating-linear-gradient(45deg, var(--no-support) 0, var(--no-support-alt) 1px, var(--no-support-alt) 0.4em, var(--no-support) calc(.25em + 1px), var(--no-support) 0.75em);
  --partial: #807301;
  --partial-alt: #746c00;
  --partial-pattern: repeating-linear-gradient(90deg, var(--partial) 0, var(--partial-alt) 1px, var(--partial-alt) 0.4em, var(--partial) calc(.25em + 1px), var(--partial) 0.75em);
  --unknown-support: #afafaf;
  --support-text-fg: #fff;
}

.App .support-yes {
  background-color: var(--supported);
}

.App .support-no {
  background: var(--no-support-pattern);
}

.App .support-partial {
  background: var(--partial-pattern);
}

.App .support-unknown {
  background: var(--unknown-support);
}

.App .support-text {
  color: var(--support-text-fg);
}

/* .rgt-cell-header-inner {
  font-size: 0.5rem;
} */

/* .rgt-cell-inner {
  margin: 0.7rem 20px;
} */