:root {
  --supported: #2a8436;
  --no-support: #c44230;
  --no-support-alt: #b43b2b;
  --no-support-pattern: repeating-linear-gradient(
    45deg,
    var(--no-support) 0,
    var(--no-support-alt) 1px,
    var(--no-support-alt) 0.4em,
    var(--no-support) calc(0.25em + 1px),
    var(--no-support) 0.75em
  );
  --partial: #807301;
  --partial-alt: #746c00;
  --partial-pattern: repeating-linear-gradient(
    90deg,
    var(--partial) 0,
    var(--partial-alt) 1px,
    var(--partial-alt) 0.4em,
    var(--partial) calc(0.25em + 1px),
    var(--partial) 0.75em
  );
  --unknown-support: #afafaf;
  /* Copilot generated the alternate color. Wow! */
  --unknown-support-alt: #a4a4a4;
  --unknown-support-pattern: repeating-linear-gradient(
    0deg,
    var(--unknown-support) 0,
    var(--unknown-support-alt) 1px,
    var(--unknown-support-alt) 0.4em,
    var(--unknown-support) calc(0.25em + 1px),
    var(--unknown-support) 0.75em
  );
  --support-text-fg: #fff;
}

.App .support-yes {
  background-color: var(--supported);
}

.App .support-no {
  background: var(--no-support-pattern);
}

.App .support-partial {
  background: var(--partial-pattern);
}

.App .support-unknown {
  background: var(--unknown-support-pattern);
}

.App .support-text {
  color: var(--support-text-fg);
}

.rgt-cell-header-inner {
  font-size: 0.85em;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
}

.popover {
  --bs-popover-max-width: 600px;
}

.popover-body {
  max-height: 600px;
  overflow-y: auto;
}
